body {
  background-color: white;
}

h1 {
  background-color: black;
  color: salmon;
  font-family: Righteous;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

nav {
  background-color: salmon;
  color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.salmonPic {
  max-width: 100%;
  text-align: center;
}

.separator {
  border: none;
  height: 2px;
  background-color: lightgrey;
  margin: 20px 0;
}

h2 {
  font-size: 25px;
  margin: 25px;
  margin-bottom: 10px;
  font-family: Righteous;
}

li {
margin-left: 50px;
}

footer {
  background-color: lightgrey;
  padding: 25px;
  margin-top: 25px;
}

table * {
border: 1px solid black;
padding: 20px;
}

thead {
font-weight: bold;
background-color: grey;
color: white;
}

tbody {
background-color: salmon;
}

tfoot {

}

th {

}

tr {

}
