body {
  background-color: white;
}

h1 {
  background-color: black;
  color: salmon;
  font-family: Righteous;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

nav {
  background-color: salmon;
  color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.salmonPic {
  max-width: 100%;
  text-align: center;
  padding: 25px;
}

.separator {
  border: none;
  height: 2px;
  background-color: lightgrey;
  margin: 20px 0;
}

#locationName, #avgCookiesPerSale {
  height: 25px;
}

#minCusPerHr, #maxCusPerHr {
  height: 25px;
}

button {
  height: 25px;
}

h2 {
  font-size: 25px;
  margin: 25px;
  margin-bottom: 10px;
  font-family: Righteous;
}

li {
margin-left: 50px;
}

section li {
  list-style-type: none;

}

footer {
  background-color: lightgrey;
  text-align: center;
  padding: 40px;
  position: fixed;
  bottom: 0;
  width: 100%
}

table * {
border: 1px solid black;
padding: 20px;
}

thead {
font-weight: bold;
background-color: grey;
color: white;
}

tbody {
background-color: salmon;
}

tfoot {
  font-weight: bold;
  background-color: grey;
  color: white;
}

th {
border: none;
}

tbody td:last-child {
  background-color: grey;
}
